torchxrayvision~=1.1.1
scikit-image~=0.21.0
tqdm~=4.65.0
hyperopt~=0.2.7
scikit-learn~=1.3.0
matplotlib~=3.7.2
pandas~=2.0.3
seaborn~=0.12.2
pingouin~=0.5.3
scipy~=1.11.1
plotly~=5.15.0
umap~=0.1.1
jupyter
torch~=2.0.1
torchvision~=0.15.2
numpy~=1.25.2
pillow~=10.0.0
setuptools~=68.0.0
networkx~=3.1
requests~=2.31.0
imageio~=2.31.1